python=3.7.4
pandas=0.25.1
scikit-learn=0.21.2
statsmodels
sqlalchemy
seaborn
numpy
tensorflow==1.14
json
tqdm
time
sys
matplotlib
pickle
surprise
fuzzywuzzy
scipy
datetime
collections
spacy
copy
cmfrec
beautifulsoup4
ipykernel
ipython
